/* #7989AC
4F658F
162B57
06173A
2E4473
*/


@font-face {
    font-family: "Press Start 2P" ;
    src: url(./fonts/PressStart2P-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #080808;
    font-family: "Press Start 2P";
}

#header{
    margin: 60px 0px 100px 0px;
    font-size: 2.5rem;
    color: whitesmoke;
    text-shadow: 5px 5px grey;
}

#sizeValue{
    color: whitesmoke;
}

#container{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
/*     box-shadow: 0px 0px 1px 10px grey;
 */}


#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: flex;
    gap: 40px;
}

#parameters{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    justify-content: center;
    padding: 10px;
}



#sizeSlider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 8px;  
    outline: none;
    background-color: black;
    border: 3px solid whitesmoke;
  }


#sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 50px;
    background: #000;
    cursor: pointer;
    border: 3px solid whitesmoke;
    border-radius: 4px;
}

#sizeSlider::-webkit-slider-thumb:hover{
    background-color: whitesmoke;
    border: none;
}

#sizeSlider::-moz-range-thumb {
    width: 20px;
    height: 50px;
    background: #000;
    cursor: pointer;
    border: 3px solid whitesmoke;
    border-radius: 4px;
  }
  
#sizeSlider::-moz-range-thumb:hover{
    background-color: whitesmoke;
    border: none;
}


#rangeSlider{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#sizeValue{
    font-size: 16px;
}

#footer{
    color: whitesmoke;
    text-shadow: 2px 2px grey;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

a{
    color: white;
}

.button{
    font-family: "Press Start 2P";
    background-color: #ededed; /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

#color1:hover{
    background-color: #E8B75F;
    color: whitesmoke;
}

#color2:hover{
    background-color: #923655;
    color: whitesmoke;
}

.button:hover{
    background-color: black;
    color: whitesmoke;
}
